<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/css/main.css" rel="stylesheet">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <div class="test">
      test
    </div>
    <script type="text/javascript" src="main.bundle.js" charset="utf-8"></script>
  </body>
</html>
